* {
  box-sizing: border-box;
  font-family: "DynaPuff", system-ui;
}

html,
body {
  height: 100vh;
}

body {
  background-color: #f4e7a4;
  display: flex;
  flex-direction: column;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 8px;
}

h1 {
  font-size: 2.8em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.2em;
}

a,
a:hover,
a:visited {
  color: #ed1d58;
  text-decoration: none;
}

.header {
  background-color: #1a8fe3;
  margin: 0;
  padding: 24px;
  text-align: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  padding: 16px;
}

.instructions {
  text-align: center;
  width: 70%;
}

.start-button {
  background-color: #6610f2;
  border: 3px solid #000;
  border-radius: 10px;
  color: #fff;
  font-size: 2rem;
  margin: 8px;
  padding: 8px;
  width: 200px;
}

.start-button:hover {
  cursor: pointer;
  transform: rotate(180deg) scale(0.9);
}

.footer {
  margin: 0;
  text-align: center;
}
